EDA 탐색적 데이터 분석

## 1. Developing a data analysis routine

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display #df를htmml로출력,출력값연속적출력
pd.options.display.max_columns = 50 
#max_columns sets the maximum number of rows and columns displayed when a frame is pretty-printed.

In [2]:
college = pd.read_csv('college.csv')

In [3]:
college.head(3)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370

In [4]:
college.shape

(7535, 27)

In [5]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
INSTNM                7535 non-null object
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [6]:
college.describe()

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV
count,7164.000000,7164.000000,7164.000000,7535.000000,1185.000000,1196.000000,7164.000000,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6853.000000,7535.000000,6849.000000,6849.000000,6718.000000
mean,0.014238,0.009213,0.005304,0.190975,522.819409,530.765050,0.005583,2356.837940,0.510207,0.189997,0.161635,0.033544,0.013813,0.004569,0.023950,0.016086,0.045181,0.226639,0.923291,0.530643,0.522211,0.410021
std,0.118478,0.095546,0.072642,0.393096,68.578862,73.469767,0.074519,5474.275871,0.286958,0.224587,0.221854,0.073777,0.070196,0.033125,0.031288,0.050172,0.093440,0.246470,0.266146,0.225544,0.283616,0.228939
min,0.000000,0.000000,0.000000,0.000000,290.000000,310.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,475.000000,482.000000,0.000000,117.000000,0.267500,0.036125,0.027600,0.002500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.357800,0.332900,0.241500
50%,0.000000,0.000000,0.000000,0.000000,510.000000,520.000000,0.000000,412.500000,0.555700,0.100050,0.071400,0.012900,0.002600,0.000000,0.017500,0.000000,0.014300,0.150400,1.000000,0.521500,0.583300,0.400750
75%,0.000000,0.000000,0.000000,0.000000,555.000000,565.000000,0.000000,1929.500000,0.747875,0.257700,0.198875,0.032700,0.007300,0.002500,0.033900,0.011700,0.045400,0.376900,1.000000,0.712900,0.745000,0.572275
max,1.000000,1.000000,1.000000,1.000000,765.000000,785.000000,1.000000,151558.000000,1.000000,1.000000,1.000000,0.972700,1.000000,0.998300,0.533300,0.928600,0.902700,1.000000,1.000000,1.000000,1.000000,1.000000

include 옵션: 'all'이면 입력의 모든 열 포함  
dtypes같은list  
numpy.number넣으면 결과를 numeric types로 한정// 그 외 numpy.object, 'category'등  
None (default) : The result will include all numeric columns.->number이 int와 float상위개념

In [7]:
college.describe(include=[np.number]).T
#많은 열 가질 때 가독성 위해 전치

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [8]:
college.describe(include=[np.object, pd.Categorical]).T

                   count unique                          top  freq
INSTNM              7535   7535  Winston Salem Barber School     1
CITY                7535   2514                     New York    87
STABBR              7535     59                           CA   773
MD_EARN_WNE_P10     6413    598            PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038            PrivacySuppressed  1510

In [9]:
#정확한 분위수 지정해보기
college.describe(include=[np.number],
                 percentiles=[.01,.05, .10, .25, .5, .75, .9, .95, .99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,1.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,1.00000,1.000000,1.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,390.000000,430.000000,447.40000,475.000000,510.00000,555.000000,605.00000,665.000000,730.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,395.000000,430.000000,453.00000,482.000000,520.00000,565.000000,630.00000,685.000000,745.250000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,14.000000,31.650000,49.00000,117.000000,412.50000,1929.500000,6512.30000,11858.050000,26015.290000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.000000,0.013265,0.06879,0.267500,0.55570,0.747875,0.86297,0.927315,1.000000,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.000000,0.000000,0.00753,0.036125,0.10005,0.257700,0.51571,0.726715,0.961467,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.000000,0.000000,0.00573,0.027600,0.07140,0.198875,0.44314,0.666700,1.000000,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.000000,0.000000,0.00000,0.002500,0.01290,0.032700,0.07840,0.131775,0.346429,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.000000,0.00000,0.000000,0.00260,0.007300,0.01837,0.036410,0.209326,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.002500,0.00800,0.015200,0.050508,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.000000,0.00000,0.000000,0.01750,0.033900,0.05651,0.076900,0.133154,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.011700,0.04250,0.078135,0.236989,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.000000,0.00000,0.000000,0.01430,0.045400,0.10801,0.200575,0.496581,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.000000,0.00000,0.000000,0.15040,0.376900,0.60410,0.710620,0.946724,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,0.000000,0.000000,1.00000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.054976,0.170000,0.23656,0.357800,0.52150,0.712900,0.83330,0.896360,0.993908,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.000000,0.000000,0.00000,0.332900,0.58330,0.745000,0.84752,0.897920,0.986368,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.002500,0.037400,0.08990,0.241500,0.40075,0.572275,0.72666,0.800000,0.917383,1.0000

data dictionary 생성과 유지가 중요  
data dictionary = meta data의 표. 데이터 각 열에 대한 메모/각 열의 이름의 의미 설명  
여기서는 college_data_dictionary.csv파일에서 제공

In [10]:
pd.read_csv('college_data_dictionary.csv')
#dataframe보다는 excel, google sheet가 적절

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

### pandas의 특수한 범주형 데이터 형식으로 변경해 메모리 사용량 획기적 감소

In [11]:
college = pd.read_csv('college.csv')

In [12]:
#서로 다른 데이터 형식 가진 몇 개의 열 선택
different_cols = ['RELAFFIL', 'SATMTMID', 'CURROPER', 'INSTNM', 'STABBR']
col2 = college.loc[:,different_cols]
col2.head()

   RELAFFIL  SATMTMID  CURROPER                               INSTNM STABBR
0         0     420.0         1             Alabama A & M University     AL
1         0     565.0         1  University of Alabama at Birmingham     AL
2         1       NaN         1                   Amridge University     AL
3         0     590.0         1  University of Alabama in Huntsville     AL
4         0     430.0         1             Alabama State University     AL

In [13]:
col2.dtypes

RELAFFIL      int64
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [15]:
#메모리 사용량 알아보기
original_mem = col2.memory_usage(deep=True)#deep option이 True여야 정확한 메모리양
original_mem

Index           80
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [16]:
#RELAFFIL 열은 0과 1만 가지므로 64비트 필요없음
col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [17]:
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [18]:
col2.memory_usage(deep=True) #메모리단위-바이트

Index           80
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [19]:
#중복값이 심핸 = 고유한 값이 별로 없는 객체의 데이터 형식 범주형으로 변경
#category
col2.select_dtypes(include=['object']).nunique()

INSTNM    7535
STABBR      59
dtype: int64

In [20]:
col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [22]:
new_mem = col2.memory_usage(deep=True)
new_mem

Index           80
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13576
dtype: int64

In [23]:
new_mem/original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
CURROPER    1.000000
INSTNM      1.000695
STABBR      0.030538
dtype: float64

pd DataFrame은 디폴트가 64비트  
astype이용해 다른형식으로 변경해 메모리 절약 가능  
인덱스 :: 매우 적은 메모리 차지 디폴트가 RangeIndex : 필요에 따라 숫자 생성/인덱스 생성 -> 최소한의 정보 저장

In [25]:
#object datatype과 정수/실수같은 단일값 가진 열과의 차이
college.loc[0, 'CURROPER'] = 1000000
college.loc[0, 'INSTNM'] = college.loc[0, 'INSTNM'] + 'a'
college[['CURROPER', 'INSTNM']].memory_usage(deep=True)
#CURROPER은 그대로 INSTNM은 글자 하나 추가인데도 105바이트 증가

Index           80
CURROPER     60280
INSTNM      660755
dtype: int64

python3 : Unicode 사용 : 글자마다 4byte사용 처음 글자 수정시 어느정도 오버헤드(100byte)가 필요했던 것으로 추정

누락값이 있다면 무조건 float64

In [26]:
college.describe(include=['int64', 'float64']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,133.637160,11520.145673,0.0,1.000000,1.00000,1.000000,1000000.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [27]:
college.describe(include=[np.int64, np.float64]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,133.637160,11520.145673,0.0,1.000000,1.00000,1.000000,1000000.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [28]:
college.describe(include=['int', 'float']).T  # defaults to 64 bit int/floats

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [29]:
college.describe(include=['number']).T  # also works as the default int/float are 64 bits

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,133.637160,11520.145673,0.0,1.000000,1.00000,1.000000,1000000.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [31]:
#RangeIndex와 Int64Index비교
college.index = pd.Int64Index(college.index)
college.index.memory_usage() #previously was just 80

60280

### 상위~ 하위~ (최대/최소) 선택

In [32]:
movie = pd.read_csv('movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

In [34]:
#nlargest method
movie2.nlargest(100, 'imdb_score').head() #평점상위100개

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5         NaN
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1         NaN
4312      Kickboxer: Vengeance         9.1  17000000.0

In [36]:
movie2.nlargest(100, 'imdb_score').nsmallest(5, 'budget') #평점 상위 100개 중에 최저에산 5개

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

nlargest, nsmallest에서 열이름 list로 전달하면 첫번째 열에서 동률이 있으면 그 다음 열을 사용해 순서를 결정한다.

In [38]:
movie3 = movie[['movie_title', 'title_year', 'imdb_score']]

In [40]:
#sort_values메소드
movie3.sort_values('title_year', ascending=False).head()
#ascending default는 오름차순. False는 내림차순

                       movie_title  title_year  imdb_score
3884                      The Veil      2016.0         4.7
2375    My Big Fat Greek Wedding 2      2016.0         6.1
2794          Miracles from Heaven      2016.0         6.8
92    Independence Day: Resurgence      2016.0         5.5
153                Kung Fu Panda 3      2016.0         7.2

In [41]:
#여러열 동시 정렬

movie3 = movie3.sort_values(['title_year','imdb_score'], ascending=False)
movie3.head()

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2

In [42]:
#drop_duplicates method를 사용해 각 연도 첫 행만 남기고 없애기
movie_top_year = movie3.drop_duplicates(subset='title_year')
movie_top_year.head()

                                  movie_title  title_year  imdb_score
4312                     Kickboxer: Vengeance      2016.0         9.1
3745                          Running Forever      2015.0         8.6
4369                   Queen of the Mountains      2014.0         8.7
3935  Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                       The Dark Knight Rises      2012.0         8.5

drop_duplicates 는 처음 등장하는 고유한 행만 유지하고 나머지 제거한다. 처음에는 모든 행이 고유한 값이므로 아무런 행도 제거되지 않지만 subset에 값을 지정해주면 고유한 값은 오직 지정한 열들에 대해서만 고려되기 때문에 title_year 기준으로 각 연도 하나의 행만 반환  
keep parameter을 last로 하면 각 그룹 마지막 행 선택, False로 설정하면 모든 중복값은 완전 삭제

In [44]:
#하나는 오름/하나는 내림차순 정렬해보기
movie4 = movie[['movie_title', 'title_year', 'content_rating', 'budget']]
movie4_sorted = movie4.sort_values(['title_year', 'content_rating', 'budget'], ascending=[False, False, True])
movie4_sorted.head()

                movie_title  title_year content_rating     budget
4026              Compadres      2016.0              R  3000000.0
3884               The Veil      2016.0              R  4000000.0
3682  Fifty Shades of Black      2016.0              R  5000000.0
3685      The Perfect Match      2016.0              R  5000000.0
3396         The Neon Demon      2016.0              R  7000000.0

In [45]:
movie4_sorted.drop_duplicates(subset = ['title_year', 'content_rating']).head(10)

,movie_title,title_year,content_rating,budget
4026,Compadres,2016.0,R,3000000.0
4658,Fight to the Finish,2016.0,PG-13,150000.0
4661,Rodeo Girl,2016.0,PG,500000.0
3252,The Wailing,2016.0,Not Rated,NaN
4659,Alleluia! The Devil's Carnival,2016.0,NaN,500000.0
4731,Bizarre,2015.0,Unrated,500000.0
812,The Ridiculous 6,2015.0,TV-14,NaN
4831,The Gallows,2015.0,R,100000.0
4825,Romantic Schemer,2015.0,PG-13,125000.0
3796,R.L. Stine's Monsterville: The Cabinet of Souls,2015.0,PG,4400000.0

### sort_values로 nlargest복제

In [47]:
movie = pd.read_csv('movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie_smallest_largest = movie2.nlargest(100, 'imdb_score').nsmallest(5, 'budget')
movie_smallest_largest

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [49]:
movie2.sort_values('imdb_score', ascending=False).head(100)

,movie_title,imdb_score,budget
2725,Towering Inferno,9.5,NaN
1920,The Shawshank Redemption,9.3,2.500000e+07
3402,The Godfather,9.2,6.000000e+06
2779,Dekalog,9.1,NaN
4312,Kickboxer: Vengeance,9.1,1.700000e+07
3415,Fargo,9.0,NaN
2791,The Godfather: Part II,9.0,1.300000e+07
66,The Dark Knight,9.0,1.850000e+08
1857,Schindler's List,8.9,2.200000e+07
335,The Lord of the Rings: The Return of the King,8.9,9.400000e+07
3295,Pulp Fiction,8.9,8.000000e+06
4706,12 Angry Men,8.9,3.500000e+05
4397,"The Good, the Bad and the Ugly",8.9,1.200000e+06
267,The Lord of the Rings: The Fellowship of the Ring,8.8,9.300000e+07
1825,It's Always Sunny in Philadelphia,8.8,NaN
453,Daredevil,8.8,NaN
827,Forrest Gump,8.8,5.500000e+07
675,Fight Club,8.8,6.300000e+07
97,Inception,8.8,1.600000e+08
2031,Star Wars: Episode V - The Empire Strikes Back,8.8,1.800000e+07
2973,Star Wars: Episode IV - A New Hope,8.7,1.100000e+07
4804,Butterfly Girl,8.7,1.800000e+05
1801,The Honeymooners,8.7,NaN
4277,A Beginner's Guide to Snuff,8.7,NaN
647,The Matrix,8.7,6.300000e+07
1604,Friday Night Lights,8.7,NaN
4369,Queen of the Mountains,8.7,1.400000e+06
1886,Goodfellas,8.7,2.500000e+07
3512,Gomorrah,8.7,NaN
3795,One Flew Over the Cuckoo's Nest,8.7,4.400000e+06
...,...,...,...
2334,Back to the Future,8.5,1.900000e+07
2215,Psycho,8.5,8.069470e+05
1287,Amélie,8.4,7.700000e+07
1521,Star Wars: Episode VI - Return of the Jedi,8.4,3.250000e+07
4023,Oldboy,8.4,3.000000e+06
58,WALL·E,8.4,1.800000e+08
3592,The Inbetweeners,8.4,NaN
3555,Veronica Mars,8.4,NaN
1317,Baahubali: The Beginning,8.4,1.802615e+07
848,Stargate SG-1,8.4,1.400000e+06
1490,Lion of the Desert,8.4,3.500000e+07
4395,Reservoir Dogs,8.4,1.200000e+06
2294,Princess Mononoke,8.4,2.400000e+09
2570,American Beauty,8.4,1.500000e+07
567,Braveheart,8.4,7.200000e+07
1698,Once Upon a Time in America,8.4,3.000000e+07
2646,U2 3D,8.4,NaN
2922,Das Boot,8.4,1.400000e+07
4163,To Kill a Mockingbird,8.4,2.000000e+06
2605,Lawrence of Arabia,8.4,1.500000e+07
3616,Rang De Basanti,8.4,NaN
4815,A Charlie Brown Christmas,8.4,1.500000e+05
2333,The Shining,8.4,1.900000e+07
3736,Psych,8.4,NaN
3902,M*A*S*H,8.4,NaN
3799,Anne of Green Gables,8.4,NaN
3777,Requiem for a Dream,8.4,4.500000e+06
3935,"Batman: The Dark Knight Returns, Part 2",8.4,3.500000e+06
4636,The Other Dream Team,8.4,5.000000e+05
2455,Aliens,8.4,1.850000e+07

In [50]:
movie2.sort_values('imdb_score', ascending=False).head(100).sort_values('budget').head()

                    movie_title  imdb_score    budget
4815  A Charlie Brown Christmas         8.4  150000.0
4801         Children of Heaven         8.5  180000.0
4804             Butterfly Girl         8.7  180000.0
4706               12 Angry Men         8.9  350000.0
4636       The Other Dream Team         8.4  500000.0

nlargest-nsmallest 결과와 sort_values두번 결과 다르다 왜?

In [51]:
movie2.nlargest(100, 'imdb_score').tail()

                movie_title  imdb_score     budget
4023                 Oldboy         8.4  3000000.0
4163  To Kill a Mockingbird         8.4  2000000.0
4395         Reservoir Dogs         8.4  1200000.0
4550           A Separation         8.4   500000.0
4636   The Other Dream Team         8.4   500000.0

In [52]:
movie2.sort_values('imdb_score', ascending=False).head(100).tail()

                                  movie_title  imdb_score      budget
3799                     Anne of Green Gables         8.4         NaN
3777                      Requiem for a Dream         8.4   4500000.0
3935  Batman: The Dark Knight Returns, Part 2         8.4   3500000.0
4636                     The Other Dream Team         8.4    500000.0
2455                                   Aliens         8.4  18500000.0

평점 8.4넘는 영화가 100개 넘기 때문  
nlargest와 sort_values 메소드는 동률 발생시 처리 방법이 달라 값이 다르게 나온 것  

#### nlargest
keep변수는 first, last, False :: False면 동률 발생시 동률 된 모든 부분 항상 결과에 남겨둠 - 하지만 pandas에서 오류 발생. :: 사용불가

### Trailing stop order price

주식거래에 사용할 수 있는 전략 중 하나. 지정가 주문 stop order  
투자가가 주가가 특정 지점에 도달하면 매입이나 매도 주문 내는 것  
대규모 손실을 막거나 이익 보존에 유용  
연속적으로  지정가 주문의 판매가를 수정해 주식 가치가 상승할 경우 이것을 따라 가는 것이 Trailing stop order price 추적 지정가 주문  
뭐 예를 들어 주식이 원래 100$에서 120$로 상승하면 10% 낮은 현재 시장가는 108 달러 원래는 90 달러에서 변경 된 것  
매입 후 최대가에 연동돼 있는 것  
주식이 120달러에서 110달러로 떨어져도 여전히 추적 지정가 주문은 108달러

In [54]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.8.1-py2.py3-none-any.whl (107 kB)
Requirement already satisfied: requests>=2.3.0 in c:\users\ui88g\anaconda3\lib\site-packages (from pandas-datareader) (2.14.2)
Requirement already satisfied: pandas>=0.21 in c:\users\ui88g\anaconda3\lib\site-packages (from pandas-datareader) (0.24.2)
Requirement already satisfied: lxml in c:\users\ui88g\anaconda3\lib\site-packages (from pandas-datareader) (3.6.4)
Requirement already satisfied: pytz>=2011k in c:\users\ui88g\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (2016.6.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\ui88g\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (2.5.3)
Requirement already satisfied: numpy>=1.12.0 in c:\users\ui88g\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\ui88g\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.21->pandas-datareader) (1.10.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1

DEPRECATION: Python 3.5 reached the end of its life on September 13th, 2020. Please upgrade your Python as Python 3.5 is no longer maintained. pip 21.0 will drop support for Python 3.5 in January 2021. pip 21.0 will remove support for this functionality.

In [55]:
import pandas_datareader as pdr 
# 주가 정보를 온라인으로 읽어오는 제삼자패키지

In [57]:
tsla = pdr.DataReader('tsla', data_source='yahoo', start='2017-1-1')
tsla.head(8)

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-01-03  44.066002  42.192001  42.972000  43.397999  29616500.0  43.397999
2017-01-04  45.599998  42.862000  42.950001  45.397999  56067500.0  45.397999
2017-01-05  45.495998  44.389999  45.284000  45.349998  29558500.0  45.349998
2017-01-06  46.062000  45.090000  45.386002  45.801998  27639500.0  45.801998
2017-01-09  46.383999  45.599998  45.793999  46.256001  19897500.0  46.256001
2017-01-10  46.400002  45.377998  46.400002  45.973999  18300000.0  45.973999
2017-01-11  45.995998  45.335999  45.813999  45.945999  18254000.0  45.945999
2017-01-12  46.139999  45.116001  45.812000  45.917999  18951000.0  45.917999

In [58]:
tsla_close = tsla['Close']

In [59]:
#cummax method: 최근 값까지 포함해 그 중 가장 최댓값 찾는다.이 열에 0.9나 다른 손실제한 값 곱하면 추적 지정가 주문 만들 수 있음.
tsla_cummax = tsla_close.cummax()
tsla_cummax.head(10)

Date
2017-01-03    43.397999
2017-01-04    45.397999
2017-01-05    45.397999
2017-01-06    45.801998
2017-01-09    46.256001
2017-01-10    46.256001
2017-01-11    46.256001
2017-01-12    46.256001
2017-01-13    47.549999
2017-01-17    47.549999
Name: Close, dtype: float64

In [60]:
tsla_trailing_stop = tsla_cummax * .9
tsla_trailing_stop.head(8)

Date
2017-01-03    39.058199
2017-01-04    40.858199
2017-01-05    40.858199
2017-01-06    41.221798
2017-01-09    41.630400
2017-01-10    41.630400
2017-01-11    41.630400
2017-01-12    41.630400
Name: Close, dtype: float64

실제 지정가 주문 실행시 수익이 얼마인지 계산해보기

In [61]:
def set_trailing_loss(symbol, purchase_date, perc): #종목코드 , 구매일, 지정가퍼센트
    close = pdr.DataReader(symbol, 'yahoo', start=purchase_date)['Close']
    return close.cummax()*perc

In [63]:
msft_trailing_stop = set_trailing_loss('msft', '2017-6-1', .85)
msft_trailing_stop

Date
2017-05-31     59.363997
2017-06-01     59.584999
2017-06-02     60.996002
2017-06-05     61.437999
2017-06-06     61.641997
2017-06-07     61.641997
2017-06-08     61.641997
2017-06-09     61.641997
2017-06-12     61.641997
2017-06-13     61.641997
2017-06-14     61.641997
2017-06-15     61.641997
2017-06-16     61.641997
2017-06-19     61.641997
2017-06-20     61.641997
2017-06-21     61.641997
2017-06-22     61.641997
2017-06-23     61.641997
2017-06-26     61.641997
2017-06-27     61.641997
2017-06-28     61.641997
2017-06-29     61.641997
2017-06-30     61.641997
2017-07-03     61.641997
2017-07-05     61.641997
2017-07-06     61.641997
2017-07-07     61.641997
2017-07-10     61.641997
2017-07-11     61.641997
2017-07-12     61.641997
                 ...
2020-08-24    184.058994
2020-08-25    184.058994
2020-08-26    187.977495
2020-08-27    192.593002
2020-08-28    194.573503
2020-08-31    194.573503
2020-09-01    194.573503
2020-09-02    196.902495
2020-09-03    196.902495
2020-09-04    196.902495
2020-09-08    196.902495
2020-09-09    196.902495
2020-09-10    196.902495
2020-09-11    196.902495
2020-09-14    196.902495
2020-09-15    196.902495
2020-09-16    196.902495
2020-09-17    196.902495
2020-09-18    196.902495
2020-09-21    196.902495
2020-09-22    196.902495
2020-09-23    196.902495
2020-09-24    196.902495
2020-09-25    196.902495
2020-09-28    196.902495
2020-09-29    196.902495
2020-09-30    196.902495
2020-10-01    196.902495
2020-10-02    196.902495
2020-10-05    196.902495
Name: Close, Length: 844, dtype: float64

체중감량 프로그램 example  
cummin() method로 최저값 추적  
매일의 체중을 하나의 시리즈에 저장하면 다음의 코드로 체중이 설정한 값보다 5% 증가한 경우 알아보는 추적 체중 감량 사용 가능  
> weight.cummin() * 1.05