# Chapter 2: DataFrame 필수 연산

In [3]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 40

## DataFrame에서 복수의 열 선택
- 방법 1. DataFrame[[사용할 컬럼들]]
- 방법 2. 같은 방법인데 이중 인덱스 안에 길게 표기하는 게 싫을 때.. -> 아래에 따로 추가된 사항 방법이 이거임
    - cols = [사용할 컬럼들]
    - DataFrame[cols]

In [4]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')
movie_actor_director = movie[['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']]  # 이중 인덱스 안하면 에러뜬다 ! 주의!!
# 이중인덱스를 사용하거나 or cols = [선택할 컬럼들]로 지정한 후, movie[cols]로 뽑던가 (같은 거임)
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [5]:
movie[['director_name']].head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

## 기존에 쓰던 방식) 사용할 column을 list로 미리 지정 후 indexing

In [8]:
cols =['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']
movie_actor_director = movie[cols]
movie_actor_director.head(3)

      actor_1_name      actor_2_name      actor_3_name   director_name
0      CCH Pounder  Joel David Moore         Wes Studi   James Cameron
1      Johnny Depp     Orlando Bloom    Jack Davenport  Gore Verbinski
2  Christoph Waltz      Rory Kinnear  Stephanie Sigman      Sam Mendes

## ★★메서드를 사용한 열 선택
- select_dtypes & filter 두 가지 메서드 존재
- 1. select_dtypes
    - select_dtypes : 특정 데이터 타입의 열만 뽑아 낼 수 있음
    - dataframe.select_dtypes(include=['data type])
- 2. filter
    - filter method : 사용된 매개변수에 따라 열 이름 or 인덱스 레이블을 검색
    - 매개변수
        - like : 문자열 검색
        - regex : 정규식 검색
        - **items : 정확한 열 이름의 리스트를 입력으로 받아들임**
            - items는 columns 명칭으로 구성된 cols list로 dataframe[cols]하는 방식과 동일
            - but, dataframe[cols]는 컬럼명 잘못 입력 -> Error
            - filter method + items 매개변수 -> 컬럼명 잘못 입력해도 Error X. 잘 입력된 것만 extraction
    - dataframe.filter(like='검색하려는 문자열') -> like 매개변수로 전달된 문자열을 포함한 column을 모두 추출

In [15]:
# data set loading & index를 movie_title로 해보기
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv', index_col='movie_title')
movie.dtypes.value_counts()

float64    13
object     11
int64       3
dtype: int64

In [7]:
# select_dtypes mothod : 특정 데이터 타입의 열만 뽑아 낼 수 있음
# 정수 열만 선택하기
movie.select_dtypes(include=['int']).head()

,num_voted_users,cast_total_facebook_likes,movie_facebook_likes
movie_title,,,
Avatar,886204,4834,33000
Pirates of the Caribbean: At World's End,471220,48350,0
Spectre,275868,11700,85000
The Dark Knight Rises,1144337,106759,164000
Star Wars: Episode VII - The Force Awakens,8,143,0

In [8]:
# 숫자로된 모든 열을 선택하려면 include 매개변수에 'number' 전달
movie.select_dtypes(include=['number']).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,
Avatar,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,NaN,131.0,NaN,131.0,NaN,8,143,0.0,NaN,NaN,NaN,12.0,7.1,NaN,0

- filter method : 사용된 매개변수에 따라 열 이름 or 인덱스 레이블을 검색

In [16]:
# like 매개변수에 입력한 키워드 -> 열 or index에 해당 키워드가 포함되면 추출
movie.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
movie_title,,,,,,
Avatar,0.0,855.0,1000.0,4834,936.0,33000
Pirates of the Caribbean: At World's End,563.0,1000.0,40000.0,48350,5000.0,0
Spectre,0.0,161.0,11000.0,11700,393.0,85000
The Dark Knight Rises,22000.0,23000.0,27000.0,106759,23000.0,164000
Star Wars: Episode VII - The Force Awakens,131.0,NaN,131.0,143,12.0,0

In [17]:
# filter method의 regex 매개변수 -> 정규식(regular expressions)을 사용해 열을 검색할 수 있음. 
movie.filter(regex='\d').head() # '\d' : 이름에 숫자가 포함된 모든 열을 검색

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
movie_title,,,,,,
Avatar,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
Pirates of the Caribbean: At World's End,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
Spectre,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
The Dark Knight Rises,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
Star Wars: Episode VII - The Force Awakens,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [19]:
# items 매개변수로는 list type의 입력이 들어감 -> 정확한 열 이름이 들어감
# 장점 : dataframe[cols]는 잘못된 column명이 있으면 error -> but filter는 error없이 정확히 일치하는 column만 데려옴
movie.filter(items=['actor_1_name', 'asdf']).head()

                                               actor_1_name
movie_title
Avatar                                          CCH Pounder
Pirates of the Caribbean: At World's End        Johnny Depp
Spectre                                     Christoph Waltz
The Dark Knight Rises                             Tom Hardy
Star Wars: Episode VII - The Force Awakens      Doug Walker

## 열 이름 일목요연하게 정렬하기
- 가이드 라인
    - 1. 각 열을 연속 / 불연속에 따라 분류
    - 2. 연속 / 불연속 내에서 공통적인 열은 그룹으로 만들기
    - 3. 그룹 내 가장 중요한 열이 가장 먼저 나오게 하고, 범주형 열을 연속형보다 먼저 나오게 하기
- 추가로 볼 논문 : Tidy Data (http://bit.ly/2v1hvH5)

In [25]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')

In [26]:
movie.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [27]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [28]:
# 불연속형 그룹
disc_core = ['movie_title','title_year', 'content_rating','genres']
disc_people = ['director_name','actor_1_name', 'actor_2_name','actor_3_name']
disc_other = ['color','country','language','plot_keywords','movie_imdb_link']

# 연속형 그룹
cont_fb = ['director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes',
           'actor_3_facebook_likes', 'cast_total_facebook_likes', 'movie_facebook_likes']
cont_finance = ['budget','gross']
cont_num_reviews = ['num_voted_users','num_user_for_reviews', 'num_critic_for_reviews']
cont_other = ['imdb_score','duration', 'aspect_ratio', 'facenumber_in_poster']

In [29]:
new_col_order = disc_core + disc_people + disc_other + \
                    cont_fb + cont_finance + cont_num_reviews + cont_other

# python 집합은 순서가 없으므로 같은지 확인하는 연산은 한 집합의 원소가 다른 집합의 원소와 동일한지 확인하는 것.
# 누락된 column이 없는지 확인한다
set(movie.columns) == set(new_col_order)

True

In [30]:
movie2 = movie[new_col_order]
movie2.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,language,plot_keywords,movie_imdb_link,director_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook_likes,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,English,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,0.0,1000.0,936.0,855.0,4834,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,English,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,563.0,40000.0,5000.0,1000.0,48350,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,English,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,0.0,11000.0,393.0,161.0,11700,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,English,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,22000.0,27000.0,23000.0,23000.0,106759,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,131.0,131.0,12.0,NaN,143,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

## 전체 DataFrame에 대한 연산

In [31]:
pd.options.display.max_rows = 8
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')
movie.shape

(4916, 28)

In [32]:
movie.size

137648

In [33]:
# numpy에서 ndim은 차원의 수를 반환함
movie.ndim

2

In [34]:
# len은 row의 수를 반환함
len(movie)

4916

In [35]:
# count method로 각 열의 누락값을 제외한 실제 값의 개수를 알아낸다.
movie.count()

color                     4897
director_name             4814
num_critic_for_reviews    4867
duration                  4901
                          ...
actor_2_facebook_likes    4903
imdb_score                4916
aspect_ratio              4590
movie_facebook_likes      4916
Length: 28, dtype: int64

In [36]:
movie.min()

num_critic_for_reviews        1
duration                      7
director_facebook_likes       0
actor_3_facebook_likes        0
                           ...
actor_2_facebook_likes        0
imdb_score                  1.6
aspect_ratio               1.18
movie_facebook_likes          0
Length: 19, dtype: object

In [37]:
# 위의 모든 descriptive statistics(기술적인 통계)를 반환하는 describe() method
# 결과는 descriptive statistics를 index로 가지는 DataFrame
movie.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [38]:
pd.options.display.max_rows = 10

In [39]:
# percentiles 매개변수를 통해 정확한 분위수를 지정할 수 있음
movie.describe(percentiles=[.01, .3, .99])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
1%,2.000000,43.000000,0.000000,0.000000,6.080000,8.474800e+03,5.300000e+01,6.000000,0.000000,1.940000,6.000000e+04,1951.000000,0.000000,3.100000,1.330000,0.000000
30%,60.000000,95.000000,11.000000,176.000000,694.000000,7.914069e+06,1.186450e+04,1684.500000,0.000000,80.000000,8.000000e+06,2000.000000,345.000000,6.000000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
99%,546.680000,189.000000,16000.000000,11000.000000,44920.000000,3.264128e+08,6.815846e+05,62413.900000,8.000000,1999.240000,2.000000e+08,2016.000000,17000.000000,8.500000,4.000000,93850.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [40]:
pd.options.display.max_rows = 8

In [42]:
# 결측치(누락값)의 개수 세기 : isnull().sum() method chaining
movie.isnull().sum()

color                      19
director_name             102
num_critic_for_reviews     49
duration                   15
                         ...
actor_2_facebook_likes     13
imdb_score                  0
aspect_ratio              326
movie_facebook_likes        0
Length: 28, dtype: int64

#### skipna 매개변수 : 결측치(누락값)을 무시하지 않는 방법
- pandas는 default로 수치열의 누락값을 무시하고 통계값을 냄 -> skipna=True가 default인 것.
- skipna = False로 해줌으로써, 하나라도 누락값(결측치)가 있으면 NaN을 반환하도록 할 수 있음.

In [29]:
movie.min(skipna=False)

num_critic_for_reviews     NaN
duration                   NaN
director_facebook_likes    NaN
actor_3_facebook_likes     NaN
                          ...
actor_2_facebook_likes     NaN
imdb_score                 1.6
aspect_ratio               NaN
movie_facebook_likes       0.0
Length: 16, dtype: float64

# DataFrame method chain으로 묶기
- Series와 달리 DataFrame에 대한 method chaining은 각 단계에서 반환되는 객체 유형을 정확히 숙지해야 함

In [66]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')
movie.isnull().head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,False,False,False,False,True,False,True,False,True,True,True,True,True,True,False,False,True,False

In [56]:
# sum()은 isnull() Boolean 값에 대해 True = 1, False = 0으로 계산하여 합산함
movie.isnull().sum().head()

# 반환 값이 Series 형태임에 주목!

color                       19
director_name              102
num_critic_for_reviews      49
duration                    15
director_facebook_likes    102
dtype: int64

In [57]:
# 한 번 더 sum() method를 사용하면 전체 누락값(결측치)의 개수를 알려줌
movie.isnull().sum().sum()

2654

In [58]:
# 누락값의 존재 여부를 파악하는 다른 방법. any method를 두번 사용하였음
# isnull().any() 까지는 각 열에 하나라도 True값이 있으면 True로 반환함. 여기까지는 Series로 반환됨
# 마지막 any() method를 적용하면 True/False로 된 Series에 적용되어 다시 한번 True가 1개라도 있으면 True를 반환하게 되는 것임
# 결과적으로 isnull().any().any()가 True라면 전체 DataFrame 중에서 최소한 1개 이상의 누락값(결측치)이 있다는 의미가 됨
movie.isnull().any().any()

True

#### isnull method의 작동원리 
- boolean 형태의 데이터 형식을 반환함

In [59]:
movie.isnull().dtypes.value_counts()

bool    28
dtype: int64

#### object type column에 대한 누락값(결측치) 살펴보기

In [62]:
# object type의 column을 선택한 후(누락값 존재) max, min 등의 기술 통계 메서드를 적용 시 아무것도 반환하지 않음
movie[['color', 'movie_title', 'color']].max() # 왜 때문에 나는 결과가 나왔는가.....???

movie_title    Æon Flux
dtype: object

In [65]:
# 빈 문자열로 결측치(누락값)을 채운 뒤, 기술 통계 메서드 적용
movie.select_dtypes(['object']).fillna('').max()

color                                                          Color
director_name                                          Étienne Faure
actor_2_name                                           Zubaida Sahar
genres                                                       Western
                                         ...
movie_imdb_link    http://www.imdb.com/title/tt5574490/?ref_=fn_t...
language                                                        Zulu
country                                                 West Germany
content_rating                                                     X
Length: 12, dtype: object

In [69]:
# 가독성을 높이는 방법으로 백슬래시를 사용할 수 있음
movie.select_dtypes(['object']) \
                    .fillna('') \ # 요렇게 하면 각 단계 별로 주석달기도 가능. 가독성 상승!
                    .max()

color                                                          Color
director_name                                          Étienne Faure
actor_2_name                                           Zubaida Sahar
genres                                                       Western
                                         ...
movie_imdb_link    http://www.imdb.com/title/tt5574490/?ref_=fn_t...
language                                                        Zulu
country                                                 West Germany
content_rating                                                     X
Length: 12, dtype: object